.ctop{
    overflow:hidden;
    background-color: #eff2f5;
    >ul{
        overflow:hidden;
        >li{
            float:left;
            line-height:35px;
            input{margin-left:19px;margin-right:5px;}   
            &:first-child{
                width:100px;
                height:35px;
            }
            &:nth-child(2){
                text-align:center;
                width:521px;
                height:35px;
            }
            &:nth-child(3){
                text-align:right;
                width:129px;
                height:35px;
            }
           &:nth-child(4){
             text-align:center;
                width:136px;
                height:35px;
            }
            &:nth-child(5){
                 text-align:center;
                width:99px;
                height:35px;
            }
        }
    }
}
.detail{
    >ul{
        float:left;
        >li{
            float:left;
            line-height:35px;
            input{margin-left:19px;margin-right:5px;}   
            &:first-child{
                width:621px;
                height:35px;
            }
            &:nth-child(2){
                text-align:right;
                width:129px;
                height:35px;
            }
           &:nth-child(3){
             text-align:center;
                width:136px;
                height:35px;
            }
            &:nth-child(4){
                 text-align:center;
                width:99px;
                height:35px;
            }
        }
    }
    background-color: #FFF;
    button{float:left;}
    .shuliang{float:left;width:34px;height:18px;margin-left:0px;margin-right:0px;text-align:center;margin:0 auto;}
    .four{padding-left:42px;margin-top:px;box-sizing:border-box;}
}