/* 
* @Author: Marte
* @Date:   2017-08-31 18:01:31
* @Last Modified by:   Marte
* @Last Modified time: 2017-09-07 19:57:20
*/
*{padding:0;margin:0;font-family:'微软雅黑';
;}
ul{list-style: none;}
.fl{float:left;}
.fr{float:right;}
.container{width:1190px;margin:0 auto;color:#666;}
a{text-decoration: none;}
.top_title_right h5>div{display:none;}

